body {
    background-color: #CED1CF;
}
.page-header{
    text-align:center;
    /*background-color: lightslategray;*/
    padding: 30px 30px;
    margin: 0px;
    /*font-family: 'Allura', cursive;*/
}
.page-header h2{
    font-family: 'Allura', cursive;
}
.navbar {
    margin-bottom: 0px;
}

.navbar .navbar-nav {
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar-brand {
    background-color: #6FCEBC;
    color: #FFFFFF;
}
.navbar-center {
    justify-content: center;
    background-color: #FF0000;
}
.main-body img {
    width: 100%;
    height: auto;
}
.image-col{
    padding: 1px;
    border: 0px;
    margin: 0px;
}
.image-large{
     margin-left: 2px
}
.footer {

    font-size: 8;
    padding: 10px;
}
.sociallinks {
    float: right;
    padding-left: 0px;
    
}